body {
	font-size : 15px;
	font-family: "Roboto", sans-serif;
}

blockquote {
	padding : 5px 10px;
}

ul {
	list-style-type : square;
}

.light {
	color : black !important;
	background-color : #f0f1f2;
}

.light a {
	color : black !important;
}

.light blockquote {
	border-left : 10px solid #5c5c5c;
	background-color : #cccccc;
}

.dark {
	color : white !important;
	background-color : #141414;
}

.dark a {
	color : white !important;
}

.dark blockquote {
	border-left : 10px solid #5e5e5e;
	background-color : #454444;
}

a {
	cursor : pointer;
	text-decoration : none;
}

a:hover {
	color: #1b83f2 !important;
}

#navbar {
	width: 70%;
	height: 30px;
	margin: 0 auto;
	flex-direction: row;
	align-items: center;
	font-size: 18px;
	padding-top: 15px;
}

#navbar a {
	float: right;
	margin-left: 2%;
	margin-right: 2%;
	text-decoration: none;
}

#navbar a:hover {
	color: #1b83f2 !important;
}

#navbar img {
	max-width: 28px;
	max-height: 28px;
}

#navbar #title {
	float: left;
}

#navbar-seperation {
	width: 73%;
}

#intro {
	width : 50%;
	margin : 0 auto;
	padding : 20px 15px;
}

#intro img {
	float : left;
	border-radius : 20px;
	max-width : 180px;
	max-height : 180px;
	margin-right : 3%;
}

#intro h1 {
	font-size : 18px;
}

#intro hr {
	width : 100%;
	margin-top : 65px;
	margin-bottom : 0px;
}

#content, #projects {
	width : 50%;
	margin : 0 auto;
}

#content, #projects h3 {
	margin-top : 0;
}

#projects a {
	float : left;
	margin-right : 3%;
	font-weight : bold;
}

#projects a:hover {
	color: #1b83f2 !important;
}

#copyright {
	width : 15%;
	margin : 0 auto;
}

#copyright a, #msg {
	color : #878787 !important;
}

#copyright-seperator {
	margin : 0 auto;
	width : 50%;
}

.article {
	height : auto;
	overflow : hidden;
}

.article #date {
	float : left;
	color : #878787;
	margin-right : 3%;
}

#content img {
	width : 70%;
	height : auto;
	margin-top : 20px;
	margin-bottom : 20px;
}

#content a {
	font-weight : bold;
}
